/*https://github.com/jsmanifest/modern-sidebar*/

.sidebar {
    max-width: 200px;
    min-width: 100px;
    height: 100vh; 
    overflow: auto;
    background-color: #f7f1e1;
    border-right: 1px solid rgba(0, 0, 0, 0.1);;
  }
  
  .sidebarItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
  }

  .sidebarItemContent {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .sidebarItemIcon {
    margin-right: 10px;
  }
  
  .sidebarItemText{
    width: 100%;
  }
  
  .sidebarItemExpandArrow {
    font-size: 1.2rem !important;
  }
  
  .sidebarItemExpandArrowExpanded {
    font-weight: bold;
  }
